.App {
  margin: 20px auto;
  max-width: 620px;
}
@media only screen and (max-device-width: 480px) {
  .Weather {
    height: 732px;
  }
}

.Weather {
  background-image: linear-gradient(
    to top,
    #dad4ec 0%,
    #dad4ec 1%,
    #f3e7e9 100%
  );
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);

  padding: 10px 20px 20px 26px;
  font-family: "Roboto", sans-serif;
}
.Footer {
  opacity: 0.6;
}
