.buttons {
  float: left;
  right: 0;
  margin-top: 10px;
  margin-right: 16px;
}
#current-location {
  height: 34px;
  width: 36px;
  background: none;
  border-radius: 4px;
  border: 1px solid #52057b;
}
#current-location:hover {
  background-color: #52057b;
}

#celsius {
  margin-right: 4px;
  height: 34px;
  width: 36px;
  background: none;
}
#celsius:hover {
  background-color: #52057b;
}
#fahrenheit {
  margin-right: 4px;
  height: 34px;
  width: 36px;
  background: none;
}
#fahrenheit:hover {
  background-color: #52057b;
}
