h1 {
  font-size: 56px;
  margin-top: 16px;
  margin-bottom: 2px;
  color: #52057b;
}

h5 {
  font-size: 16px;
}
p {
  color: #52057b;
  margin-top: 0;
}
p:first-letter {
  text-transform: capitalize;
}
.summary {
  margin-top: 8px;
}
.description {
  color: #52057b;
  float: right;
  margin-right: 8px;
}
.temperature {
  margin-top: 38px;
}
.temp {
  font-size: 56px;
  padding-top: 28px;
  color: #c060a1;
}
.unit {
  font-size: 28px;
  position: relative;
  top: -20px;
}
#icon {
  font-size: 58px;
  float: left;
}

input[type="search"] {
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  height: 42px;
  outline: 0;
  padding: 10px;
  width: 240px;
}
.city {
  margin-top: 2px;
}
#search-button {
  height: 42px;
  color: #ffffff;
  background-color: #52057b;
  border-radius: 2px;
  width: 80px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
