h1 {
  font-size: 56px;
  margin-top: 16px;
  margin-bottom: 2px;
  color: #52057b;
}

h5 {
  font-size: 16px;
}
p {
  color: #52057b;
  margin-top: 0;
}
p:first-letter {
  text-transform: capitalize;
}
.summary {
  margin-top: 8px;
}
.description {
  color: #52057b;
  float: right;
  margin-right: 8px;
}
.temperature {
  margin-top: 38px;
}
.temp {
  font-size: 56px;
  padding-top: 28px;
  color: #c060a1;
}
.unit {
  font-size: 28px;
  position: relative;
  top: -20px;
}
#icon {
  font-size: 58px;
  float: left;
}
