h1 {
  font-size: 56px;
  margin-top: 16px;
  margin-bottom: 2px;
  color: #52057b;
}

p {
  color: #52057b;
  margin-top: 0;
}
p:first-letter {
  text-transform: capitalize;
}

.summary {
  margin-top: 8px;
}
.description {
  color: #52057b;
  margin-right: 8px;
}
.temperature {
  margin-top: 58px;
}
.temp {
  font-size: 56px;
  padding-top: 28px;
  color: #c060a1;
  padding-left: 8px;
}
.unit {
  font-size: 22px;
  position: relative;
  top: -20px;
}
.city {
  margin-top: 2px;
}

.buttons {
  float: left;
  margin-top: 12px;
  margin-right: 12px;
}
.fa-w-12 {
  color: #52057b;
  margin-left: -5px;
  margin-bottom: 6px;
}
.fa-w-12:hover {
  color: #c060a1;
}
#current-location {
  height: 28px;
  width: 28px;
  background: none;
  border-radius: 4px;
  border: 1px solid #52057b;
}
#current-location:hover {
  background-color: #52057b;
}

input[type="search"] {
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  height: 42px;
  outline: 0;
  padding: 10px;
  width: 240px;
}
#icon {
  margin-right: -16px;
  margin-left: -16px;
}

#search-button {
  height: 42px;
  color: #ffffff;
  background-color: #52057b;
  border-radius: 2px;
  width: 80px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
#real-feel {
  margin-bottom: 0;
  margin-top: 20px;
}
#humidity {
  margin-bottom: 0;
}
