.weatherForecast {
  float: right;
  margin-top: -318px;
  margin-right: 28px;
  width: 260px;
}
@media only screen and (max-device-width: 480px) {
  .weatherForecast {
    width: 100%;
    margin-top: 0;
    margin-right: 0;
  }
}
.weatherForecastPreview {
  border: 1px solid #52057b;
  border-radius: 4px;
  margin-bottom: 1px;

  background-image: linear-gradient(
    to top,
    #dad4ec 0%,
    #dad4ec 1%,
    #f3e7e9 100%
  );
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.forecast-temp {
  font-size: 18px;
  margin-right: 52px;
  color: #c060a1;
  text-align: left;
}
.forecast-hours {
  margin-top: 6px;
  color: #52057b;
  margin-right: 4px;
  float: right;
}

.forecast-day {
  color: #52057b;
  font-size: 14px;
}

#forecast-icon {
  width: 32px;
  height: 32px;
  margin-right: 6px;
}

#next-hours {
  margin-bottom: 0px;
  color: #c060a1;
}
